@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Baloo Bhai 2", sans-serif;
}

section ul {
  list-style: square;
  font-size: 30px;
}
section ol, ul {
  padding-left: 3rem;
}

#recipe > img {
  display: block;
  margin: auto;
  width: 50%;
  border: 3px solid black;
  border-radius: 15px;
  margin-bottom: 20px;

}

#recipe .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px 20px 0px 20px;
  background-color: rgb(249, 249, 249);
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
}

.inner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px 20px 2px 20px;
}

.inner-content .p1 {
  font-size: 20px;
}

.inner-content .p2 {
  font-size: 14px;
}

.page-wraper {
  /* border: 2px solid rgb(0, 4, 113); */
  margin: 15px 10px;
  border-radius: 15px;
  background-color: rgb(249, 249, 249);
  padding: 20px;
  width: 900px;
}

table {
  text-align: center;
  font-family: Verdana;
  font-size: 14px;
  border-collapse: collapse;
  width: 850px;
}

td,
th {
  padding: 10px;
  text-align: left;
  margin: 0;
}

tbody tr:nth-child(2n) {
  background-color: #eee;
}

th {
  position: sticky; 
  top: 0;
  background-color: #333;
  color: white;
}

.page-wrap {
  margin: 15px 10px;
  border-radius: 15px;
  background-color: rgb(249, 249, 249);
  padding: 20px;
}

.faq {
  counter-reset: my-badass-counter;
}

.faq dt {
  position: relative;
  padding: 4px 0px 20px 5px;
  font-size: 16px;
  padding-left: 20px;
}

.faq dt::before {
  content: counter(my-badass-counter);
  counter-increment: my-badass-counter;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 28px;
  padding: 0px 10px 0px 0px;
}

.h-primary {
  text-align: center;
  font-size: 3rem;
}

.h-tertiary {
  font-size: 2rem;
  padding: 20px 20px 0px 20px;
}