body {
  margin: 0;
}

/* =============== NavBar ============= */


.main-nav-wrapper a {
  text-decoration: none;
  color: #eeebee;
}
.main-nav-wrapper {
  /* -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px); */
  display: flex;
  height: 10vh;
  padding: 0 10vh;
  background-color: #42eb85;
  color: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.navbar {
  
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90vw;
  max-height: 5vh;
}

.main-nav-logo {
  width: 25vh;
  margin-right: 10vw;
}


.main-nav-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  font-size: 1em;
}

.main-nav-content-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.main-nav-login,
.main-nav-register {
  border: 1px solid white;
  margin-left: 3px;
  padding: 0.4em 0.7em;
}

.main-nav-register {
  margin-left: 1.3em;
}

.main-nav-btn {
  margin-left: 20vh;
}

/* =============== Welcome Page ============= */

.welcom-wraper{
  margin: 0 10vw;
  padding: 20px 25px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  border-radius: 20px;
  height: 80vh;
}